li,H1,h2,h3,p,label{color: aliceblue;
    background-color: transparent;
}
.parrafos{
  background-color: rgba(162, 197, 227, 0.21);
    height: 200px;
    width: 500px;
    border-radius: 10px;
    margin: 3rem;
    text-align: justify;
    padding: 12px;
    font-size: 120%;  
}
.p1{
  background-color: rgba(162, 197, 227, 0.21);
    height: 1000px;
    width: 700px;
    border-radius: 10px;
    margin: 3rem;
    text-align: justify;
    padding: 12px;
    font-size: 120%; 
}  
body{
    background-image:url(img/fondo.jpg);
    background-position-x:center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav {
    background-color: transparent;
    width: 100%;
    position: ;
    z-index: 100;
  }
  
  nav {
    float: left;
    
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
    
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 18px;
  
  }
  nav ul li a {
    display: block;
    padding: 14px;
    color: #ffffff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #d15f1d;
    border-radius: 18px;
  }